body{
  background-color:#f4f7fc;
  text-color:#333333;
  font-family:Arial;
  margin:0;
}
header{
  background-color:#2563eb;
  text-color:white;
  text-align:center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right:10px;
}
nav{
  background-color:#2563eb;
  padding:20px;
}
